@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import '/assets/css/font-awesome.css';
@import '/assets/css/vendors/icofont.css';
@import '/assets/css/vendors/themify.css';
@import '/assets/css/vendors/flag-icon.css';
@import '/assets/css/vendors/feather-icon.css';
@import '/assets/css/vendors/bootstrap.css';
@import '/assets/css/style.css';
@import '/assets/css/color-1.css';
@import '/assets/css/responsive.css';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

li.sidebar-list {
  margin: 20px 0;
}

li.sidebar-list span {
  padding: 0 20px;
}


.page-wrapper .sidebar-main-title>div {
      background-color: rgba(0, 0, 0, 0.02) !important;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
}

.page-wrapper .sidebar-main-title>h6 {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.date-picker-setting {
  background-color: rgba(255, 192, 0, 0.1);
}